html {
  font-family: system-ui;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle {
  display: inline-block;
  background: #6c757d;
  color: white;
  padding: 10px 17px;
  border-radius: 5px;
  border: 2px solid white;
}

.dropdown-toggle:focus {
  border: 2px solid lightgray;
}

.dropdown-toggle:hover {
  background: #5e676e;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  width: 195px;
  padding: 8px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: absolute;
  background: white;
}

.show {
  display: flex;
}

.dropdown-menu > a {
  padding: 3px 20px;
}

.dropdown-menu > a:link,
.dropdown-menu > a:visited {
  color: black;
}

.dropdown-menu > a:hover {
  background: rgb(245, 248, 250);
}
